body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

#combo, #color{
    margin: 0;
    padding: 0;
}

#hex{
    display: block;
    width: 150px;
    height: 150px;
    background: #fff;
    text-align: center;
    line-height: 150px;
    text-transform: uppercase;
    border-radius: 75px;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    font-size: 4em;
}

#color >  p, #combo > p{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 10px;
    color: #fff;
    text-shadow: 0px 0px 5px black;
    opacity: 0.5;
    font-size: 2em;
}

#combo div{
    height: 20%;
    margin: 0;
    padding: 0;
}

#combo > div > p{
    margin: 0;
    padding: 0;
    color: #fff;
    display: block;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    text-transform: uppercase;
    height: 100%;
    font-size: 3em;
}


#menu {
    background: green;
    padding: 0;
    margin: 0;
}

#menu h1{
    display: block;
    background: purple;
    height: 33%;
    margin: 0;
    padding: 0;
}

#menu ul {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    display: block;
    height: 67%;
}

#menu ul li {
    display: block;
    height: 50%;
    background: red;
}

#menu ul li a {
    display: block;
    height: 100%;
    width: 100%;
}